# **Variables: A programmer's Perspective**

In [ ]:
ram_bank_balance = 100000
# ram's bank balance, note that this is positive
ram_loan = 500000
#ram's loan , this is to be returned by him and hence will count
#as negative

lakshman_bank_balance = 2000000
lakshman_loan = 10000000

net_income = ram_bank_balance + lakshman_bank_balance
net_liability = ram_loan+lakshman_loan
#net_ liability is the total loan of the brother's

final_value=net_income-net_liability
# final_value , is the familiy's final money ( could be +ve or -ve )
print("So, the family has",final_value)

So, the family has -8400000

**Variables Revisited Dynamic Typing**

In [ ]:
n=10
print(type(n))
print(n)

n=n/2
# the moment we we use division it will converted to 'float' from 'int'
print(type(n))
print(n)

<class 'int'>
10
<class 'float'>
5.0

**While to Compute Factorial** from week 3

In [ ]:

# let us find the factorial of a number

print("Enter a number ")
n=int(input())

#n=5
#1*2*3*4*5

i=1
answer=1
while(i<=n): #less than or equal to
 answer=answer*i
 i=i+1
print(answer)

#i=1
#answer=1
#n=5
#answer=1
#i=2
#answer=2
#i=3
#answer=6
#i=4
#answer=42
#i=5
#answer=120
#i=6

Enter a number
6
720

**More on Variables,Operator and Expression**

In [ ]:
 # and = 5
 # print(and)
 # and, for and more are pre-defined so it can't be used as variable

roll = 5
ROLL = 10
Roll = 15
print(roll,ROLL,Roll) # it shows that python is case sensetive

5 10 15

1.Multiple Assignment

In [ ]:
x, y = 1, 2
print(x,y)

1 2

In [ ]:
x=y=z=10
print(x,y,z)

10 10 10

In [ ]:
x,y=1,2
print(x,y)
x,y=y,x
print(x,y)

1 2
2 1

2.Deleting Variable

In [ ]:
x=10
print(x)
del x
print(x,y)

10

NameError: name 'x' is not defined

Short Hand Opertor

In [ ]:
count = 0
#count = count+1
#count = count+1
#count = count+1
#print(count) it will give the outcome as 4

count = 0
count +=1
count = count + 1 # for this 'count += 1' and 'count = count +1' is same
print ( count )  # it will print the same as above
# and same applies for " count -= 1 " and "count=count - 1" for count=10

2

In [ ]:
count = 10
count *= 2
count = count*2
print(count)

40

In [ ]:
count=10
count/=2
count=count/2
print(count)

2.5

Special Operator:- In Operator

In [ ]:
print('alpha' in ' A variable name only contain alpha- numeric character and underscore ')
print( ' alpha 'in " A variable name must start with a letter or the underscore character")

True
False

Expression:- Chaining Operator

In [ ]:
x = 5
print( 1 < x < 10 )
print( 10 < x < 10)
print( x < 10 < x * 5 < 100 )
print( 10 > x <= 9)
print( 5==x > 4)

True
False
True
True
True

**Escape character and type of quates**

In [ ]:
#print('It's a beautiful day') this will not executed as it shows invalid
 #to solve this issue we have to use escape character
print('It\'s a beautiful day')
print("we are from \"IIT\" Madras")
print('my name is omkar. i am from pune. ')
print("my name is omkar.\t\t i am from pune. ")

print('my name is Shahnwaz.\nI am from Jharkhand')

print("It's a beautiful day")
print('We are from "IIT" Madras')

It's a beautiful day
we are from "IIT" Madras
my name is omkar. i am from pune.
my name is omkar.		 i am from pune.
my name is Shahnwaz.
I am from Jharkhand
It's a beautiful day
We are from "IIT" Madras

Use of codes supported by python language

In [ ]:
x = "this is a string"
y = 'this is also a string'
z= '''first line
second line
third line
fourth line'''
print(x)
#print(y)
'''comment 1
comment 2
comment 3'''
print(z)

#triple code can be used for commenting also

this is a string
first line
second line
third line
fourth line

**String Methods**

In [ ]:
x='pyThon sTring mEthOdS'

print(x.upper()) # it will give strings of x in upper case

print(x.lower()) # it will give string in lower case

print(x.capitalize())# it will make the first leter of sentence capital

print(x.title()) #it will make every first letter of word in the sentence capital

print(x.swapcase())#it will randomly swap the letters of the sentence into capital and small

PYTHON STRING METHODS
python string methods
Python string methods
Python String Methods
PYtHON StRING MeTHoDs

In [ ]:
x='python'
print(x.islower()) # it will check whether the letter in the word are in lowercase
print(x.isupper())# it will check whether the letter s in the word are in upper case

True
False

In [ ]:
x=' Python String Method '
print(x.istitle()) #it will check whether words in the sentence starts with capital or not
y='Python string method'
print(y.istitle())

True
False

In [ ]:
x='123'
print(x.isdigit())

y='123abc'
print(y.isdigit())

True
False

In [ ]:
x='abc'
print(x.isalpha())

y='abc123'
print(y.isalpha())

True
False

In [ ]:
x='abc123'
print(x.isalnum())

y='abc123@*#'
print(y.isalnum())

True
False

In [ ]:
x='-------Python------'

#lstrip()
print(x.strip('-'))

#lstrip()
print(x.lstrip('-'))

#rstrip()
print(x.rstrip('-'))

Python
Python------
-------Python

In [ ]:
x="Python"

#startswith()
print(x.startswith('P'))
print(x.startswith('p'))

#endswith()
print(x.endswith('n'))
print(x.endswith('N'))

True
False
True
False

In [ ]:
x='Python String Method '
#count()
print(x.count('t'))
print(x.count("s"))

#index()
print(x.index('P')) # it will give the position of the index or letter or digitor etc
print(x.index('d'))

#replace()
x=x.replace('S',"s")
x=x.replace("M",'m')
print(x)

3
0
0
19
Python string method

**An interesting Cipher: More on Strings**

In [ ]:
alpha='abcdefghijklmnopqrstuvwxyz'
i=25

print(alpha[i%26])
print(alpha[(i+1)%26])
print(alpha[(i+2)%26])

z
a
b

In [ ]:
alpha='abcdefghijklmnopqrstuvwxyz'

s='shahnwaz'
# i expect to tibioxb
t=''
print(alpha.index(s[0]))

18

In [ ]:
alpha='abcdefghijklmnopqrstuvwxyz'

s='shahnwaz'
# i expect to tibioxbk
t=''
print  (alpha[(((alpha.index(s[0]))+1)%26)])

t

In [ ]:
alpha='abcdefghijklmnopqrstuvwxyz'

s='indianinstituteoftechnology'
#iexpect it to be tibioxbk

t=''

i=0
k=3 # no. of time it will shift
t=t+(alpha[(((alpha.index(s[i]))+k)%26)])
t=t+(alpha[(((alpha.index(s[i+1]))+k)%26)])
t=t+(alpha[(((alpha.index(s[i+2]))+k)%26)])
t=t+(alpha[(((alpha.index(s[i+3]))+k)%26)])
t=t+(alpha[(((alpha.index(s[i+4]))+k)%26)])
t=t+(alpha[(((alpha.index(s[i+5]))+k)%26)])
t=t+(alpha[(((alpha.index(s[i+6]))+k)%26)])

print(t)

lqgldql

**Introduction to the if statement**

In [ ]:
# if condition
#let us consider the movie Avengers. this is 13+ movie

print("Please enter your date of birth:")
birth_year = int(input())

current_year = 2024
age = current_year - birth_year

if(age < 13 ):
  print("YOU ARE UNDER AGE, You cannot watch this movie.")
  print("Wait until you are old enough to watch this movie.")
else:
  print("You are old enough to watch this movie. Enjoy!")
  print("Don't forget to watch the sequels and prequels.")

  print('Have a nice day.')

Please enter your date of birth:
2
You are old enough to watch this movie. Enjoy!
Don't forget to watch the sequels and prequels.
Have a nice day.

**Tutorial on if, else and else-if (elif) condition**

Problem 1: Find whether the given number is odd or even

In [ ]:
#1 Find whether the number i even or odd

num=int(input("Enter the number:"))

if (num % 2 == 0):
  print("Number is even")
else:
    print("Number is odd")

Enter the number:5
Number is odd

In [ ]:
#2 find whether the given number ends with 0 or 5 or any other number

num=int(input("Enter a Number:"))
if (num % 5 == 0):
  if(num % 10 == 0 ):
    print(" Number ends with 0" )
  else:
        print(" number ends with 5")
else:
  print("Ends with other number or other than 5 and 0")

Enter a Number:56
Ends with other number or other than 5 and 0

In [ ]:
#3  Find the grades of students based on the given marks from 0 to 100.

marks = int(input('Enter marks:'))
if (marks >=0 and marks <=100 ):
  if (marks >= 90):
     print("Grade A")
  elif (marks >=80 and marks  <90):
     print("grade B")
  elif (marks >=70 and marks  <80):
     print("Grade C")
  elif (marks >=60 and marks <70):
     print("Grade D")
  elif (marks >=50 and marks < 60 ):
     print (" Grade E" )
  else:
     print( "Fail" )
else:
  print(" Invalid input")

Enter marks:091
Grade A

**Introduction to "Import library"**

In [ ]:
import math

print(math.log(10))
print(math.sqrt(9))
print(math.factorial(6))

#Let us simulate a coin toss

import random
a= random.random()

if (a<.5):
  print("Head")
else:
  print("Tail")

# Let us simulate a dise(six faced )

import random
print( random.randrange(1,6))
print( random.randrange(1,7))

2.302585092994046
3.0
720
Head
2
1
Your pair of dice is :, total

In [ ]:
# Let us simulate the sum of two dies(six faced)
import random
dice1=(random.randrange(1,7))
dice2=(random.randrange(1,7))
pair = dice1 , dice2
total= dice1+dice2
print( "Your pair of dice is :",pair,"Your sum of dice is :" , total)

Your pair of dice is : (4, 5) Your sum of dice is : 9

Different ways to import a liberary

In [ ]:
import