 **Week-1**

**Introduction to variable:-**

In [ ]:
b=10
print(b)
a=20
print(a)
print(a+b)
a=a+1
print(a)

In [ ]:
print("enter a number:")
n=int(input())
print(n)
print(n+1)
print(n+2)
print(n+3)

enter a number:
4
5
6
7

**Variable and Input Statement:-**

In [ ]:
print ("Hello, type in your name:")
n=str(input())
print("hello,",n,"how are you?")

Hello, type in your name:
Shahnwaz
hello , Shahnwaz how are you?

In [ ]:
print("hello,type in your name")
n=str(input())
print("which place are you in ?")
p=str(input())
print("hello,",n,"How is the whether in",p)
print("What is your age?")
age=int(input())
print("Good to know your",age,"years old")

In [ ]:
print("Hello how are you:")
n=str(input())
print("Can i know your name?")
m=str(input())
print("hello",m,"what is your age?")
age=int(input())
print("Good to know you are",age,"years old. ")

**Data type-1:-**

In [ ]:
n=10
print(n)
r=6.33
print(r)
s="shahnwaz"
print(s)

print("n is of type:",type(n))
print('r is of type:',type(r))
print("s is of type:",type(s))

10
6.33
shahnwaz
n is of type: <class 'int'>
r is of type: <class 'float'>
s is of type: <class 'str'>

In [ ]:
l=[10,20,30,40]

print(l)

print(l[0])

print(l[1])

print(l[2])

print(l[3])

[10, 20, 30, 40]
10
20
30
40

In [ ]:
l=[10,20,30,40]
n=10
r=6.9
s="India"

print(type(l))
print(type(n))
print(type(r))
print(type(s))

<class 'list'>
<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
t=[10,20,30,40]
print(l[2])
print(type(l[2]))

30
<class 'int'>

**Data type:-2**

In [ ]:
i=10
r=6.9
s="Japan"
b1=True
b2=False
print(type(i))
print(type(r))
print(type(s))
print(type(b1))
print(type(b2))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'bool'>

In [ ]:
a=int(5.6)
b=int("10")
print(a,type(a))
print(b,type(b))

5 <class 'int'>
10 <class 'int'>

In [ ]:
a=float(9)
b=float("5.3")

print(a,type(a))
print(b,type(b))

9.0 <class 'float'>
5.3 <class 'float'>

In [ ]:
a=str(9)
b=str(5.3)

print(a,type(a))
print(b,type(b))

9 <class 'str'>
5.3 <class 'str'>

In [ ]:
a=bool(10)
b=bool(0)
c=bool(-10)

print(a,type(a))
print(b,type(b))
print(c,type(c))

True <class 'bool'>
False <class 'bool'>
True <class 'bool'>

In [ ]:
a=bool(10.2)
b=bool(0.0)
c=bool(-10.4)

print(a,type(a))
print(b,type(b))
print(c,type(c))

True <class 'bool'>
False <class 'bool'>
True <class 'bool'>

In [ ]:
a=bool("India")
b=bool("10")
c=bool("-10.4")
d=bool("0")
e=bool("")

print(a,type(a))
print(b,type(b))
print(c,type(c))
print(d,type(d))
print(e,type(e))

True <class 'bool'>
True <class 'bool'>
True <class 'bool'>
True <class 'bool'>
False <class 'bool'>

**Operators and Expression:-1**

In [ ]:
a=2+3
print(a)

b=2
c=3
n=b+c
print(n)

5
5

In [ ]:
a="Shahnwaz"
b="india"
n=a+b
print(n)
#this will concatinate

Shahnwazindia

In [ ]:
a=[1,2,3,4]
b=[3,7,8,8]
n=a+b
print(n)

[1, 2, 3, 4, 3, 7, 8, 8]

In [ ]:
a=3
b=15
n=a/b
print(n)

0.2

In [ ]:
n=10+13*2
#my guess will be 46.
#The expected answer was incorrect, the correct answer turns out to be 36,
#That is due to what is called the operator precedence.
print(n)

36

In [ ]:
n=((10+13)*2)
print(n)

46

**Operatos and expression:-2**

Arthematic operators

In [ ]:
#Arthematic(*,/,-,+,/,//,%,**)

print("addition",1+2)
print('suntraction',2-1)
print("multiplication",2*3)
print('division',7/3)
print('floor division',7//3)
print('Modulus',7%3)
print("Exponential",6**2)
print("sub",-1-5)

addition 3
suntraction 1
multiplication 6
division 2.3333333333333335
floor division 2
Modulus 1
Exponential 36
sub -6

Relatonal Operators

In [ ]:
#Relational(<,>,>=,<=,==,!=)
print(5>10)
print(5<10)

False
True

In [ ]:
print(5>5)
print(5>=5)

False
True

In [ ]:
print(5<5)
print(5<=5)

False
True

In [ ]:
print(5==50)
print(5==5)

False
True

In [ ]:
print(5!=5)
print(5!=50)

False
True

Logical Opertors-

In [ ]:
#Logical(and,or,not)
print(True and True)
print(True and False)
print(False and False)
print(False and True)

True
False
False
False

In [ ]:
print(True or True)
print(True or False)
print(False or False )
print(False or True)

True
True
False
True

In [ ]:
print(not(True))
print (not(False))
print(not False)

False
True
True

**Introduction to strings**

In [ ]:
s='cofee'
t='bread'
print(s)
print(t)
print(s+t) # concatinate

cofee
bread
cofeebread

In [ ]:
s='cofee'
t='bread'
print(s[1])

o

In [ ]:
s='coffee'
t='bread'
print(s[1:5])

offe

In [ ]:
s='0123456789'
a=s[4]
b=s[7]
print(a)
print(b)
print(a+b)     #it will comcatinate

4
7
47

In [ ]:
s='0123456789'
a=int(s[4])
b=int(s[7])
print(a)
print(b)
print(a+b)

4
7
11

In [ ]:
s='0123456789'
a=int(s[3])
b=int(s[7])
n=a+b
print(n)

10

**More on strings**

In [ ]:
s="good"
print(s*5) # it will concatinate it 5 times

goodgoodgoodgoodgood

In [ ]:
s='good'
print(s[0]*5) # it will replicate it  times

ggggg

In [ ]:
x="India"
print(x=="india")
print(x=="India")

False
True

In [ ]:
print("apple"> "one")
print("four"< "ten")

False
True

In [ ]:
print('ab'<"az")
print('abcdef'<'abcde')

True
False

In [ ]:
s='python'
print(s[0])
print(s[1])
print(s[2])
print(s[3])
print(s[4])
print(s[5])

p
y
t
h
o
n

In [ ]:
s='python'
print(s[-1])
print(s[-2])
print(s[-2])
print(s[-3])
print(s[-4])
print(s[-5])
print(s[-6]) # negative indexing

n
o
o
h
t
y
p

In [ ]:
s='djhsjgjshbfdfnjhfhfhgfgfjhghjsdf'
print(len(s))

32

In [ ]:
s='sdfhgjhgfjhgsfjsvjhvdkjfhjshgfh'
print(len(s))  # this will represent total nio. of character

31

In [ ]:
s='sdfhgjhgfjhgsfjsvjhvdkjfhjshgfh'
print(s[30])

h

In [ ]:
s='sdfhgjhgfjhgsfjsvjhvdkjfhjshgfh'
print(s[30])

h

In [ ]:
print("1 2 3 4  5")

1 2 3 4  5

**GA 1**

In [ ]:
e1=1
e1=2
e3=3
e4=4
e3=not(e1 or e2)
e4=(not e1) and (not e2)
print(e3==e4)

True

In [ ]:
name1=input()
name2=input()
result=name1<name2
print(result)

shahnwaz
rohit
False

In [ ]:
print(input() > input())

shahnwaz
rohit
True

In [ ]:
x=2**5
x1=x//2
x2=x1//2
x3=x2//2
x4=x3//2
x5=x4//2
print(x1+x2+x3+x4+x5)

31

In [ ]:
age=int(input())
dob=input()
weight=float(input())
day,month, year=map(int,dob.split("/"))
fifth_birthday=f"{day}/{month}/{year+5}"
last_birthday=f"{day}/{month}/{year+age}"
tenth_month_year=year+{month+10}//12
tenth_month=(month+10)%12
if tenth_month==0:
    tenth_month==12
    tenth_month_year -=1
    tenth_month_date=f"{day}/{tenth_month}/{tenth_month_year}"
    print(f"{tenth_month_date},{fifth_birthday},{last_birthday}")

10
10+5
15+20

ValueError: could not convert string to float: '15+20'